<p id="notice"><%= notice %></p>
  <div id="left_col">
  <h2><%= @task.name %></h2>

  <p><%= @task.desc %></p>

  <p>Hours (<%= @task.total_hours %>):</p>
  <table>
  <%= render @task.hours %>
  </table>

  <h3>Add Hours:</h3>
  <%= render "hours/form" %>

  <%= link_to 'Edit Task Details', edit_task_path(@task) %> |
  <%= link_to 'Delete Task', @task, method: :delete, data: { confirm: 'Are you sure? This task and all the hours and notes associated with it will be permanently destroyed!' } %>
  
  </div>
  <div id="right_col">
    <%= render "hours/chart" %>
  </div>